.u-section-1 .u-sheet-1 {
  min-height: 551px;
}.u-section-2 .u-sheet-1 {
  min-height: 1150px;
}

.u-section-2 .u-group-1 {
  width: 1099px;
  min-height: 583px;
  background-image: none;
  height: auto;
  margin: 454px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 804px 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 38px 805px 0 29px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px -10px 0 844px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px 805px 0 29px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 31px 804px 0 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 804px 0 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 804px 0 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 804px 0 30px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 804px 0 30px;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px 805px 0 29px;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px -10px 0 844px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 765px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 675px;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 655px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 455px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 565px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 565px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 465px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 465px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 698px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 239px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 530px;
  }
}